*{
	margin: 0px auto;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Oswald', sans-serif;
}

body {
	margin:5px auto;
}

.container{
	width: 800px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}

.todo_list{
	 background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 23%, rgba(41,137,216,1) 47%, rgba(34,105,176,1) 81%, rgba(33,101,171,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 23%,rgba(41,137,216,1) 47%,rgba(34,105,176,1) 81%,rgba(33,101,171,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 23%,rgba(41,137,216,1) 47%,rgba(34,105,176,1) 81%,rgba(33,101,171,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 */
    padding: 35px 35px;
    color: #fff5f5;
    text-align: center;
    font-size: 36px;
    letter-spacing: 3px;
}
.todo_list h1{
	display: inline-block;
	margin-left: 15px;
}

.todo_list img:hover{
	border: 1px dotted #c9b1b1;
}

.toDoElement{
	width: 45%;
	height: 50px;
	padding: 10px;
	margin-top: 15px;
	background: #3a37de;
	color: #ebebfc;
	font-size: 14px;
	cursor: text;
	border: none;
	display: block;
	border-radius: 5px;
}
.toDoElement:focus{
	width: 60%;
}

.toDoElement::-moz-placeholder { 
	color: #ebebfc; }

.toDoElement::-webkit-input-placeholder { 
	color: #ebebfc; }

.btnAd{
	padding: 15px;
	width: 10%;
	background: #0e0d69;
	color: white;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	border: none;
	margin-left: 0px;
	display: inline-block;

}

.btnAd:active{
	border: 1px solid white;
}

.btnAd:disabled{
	background: #ccc2c2;
}

.btnDe{
	padding: 15px;
	width: 10%;
	background: #fa0f0f;
	color: white;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	border: none;
	margin-left: 0px;
	letter-spacing: 2px;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
	margin: 10px;
	background: #462de3;
}

ul li:nth-child(odd) {
    background: #378cdb;
}
ul #checkbox {
}
footer{
	margin-top: 10px;
	margin-left: -10px;
	text-align: center;
	padding-left: 5px;
	font-size: 18px;
}

hr {
	margin: 15px;
}


.help {
	padding: 15px;
	width: 10%;
	background: #3bf01f;
	color: white;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	border: none;
	margin-left: 0px;
	letter-spacing: 2px;
}

.deal {
	margin-left: 50px;
	display: inline-block;
	
}

.label{
	display: inline-block;
}
